.u-section-1-1 {
    background-image: url("images/fitnessaminimage.jpg");
    background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
    min-height: 1118px;
}

.u-section-1-1 .u-text-1 {
    font-weight: 700;
    margin: 652px 41px 0 71px;
}

.u-section-1-1 .u-btn-1 {
    background-image: none;
    text-transform: uppercase;
    font-weight: 700;
    margin: 45px 478px 60px auto;
}

.u-section-1-3 {
    background-image: url("images/fitness11.jpg");
    background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
    min-height: 927px;
}

.u-section-1-3 .u-text-1 {
    font-size: 6rem;
    font-weight: 700;
    margin: 551px 0 0;
}

.u-section-1-3 .u-btn-1 {
    background-image: none;
    text-transform: uppercase;
    font-weight: 700;
    margin: 42px 471px 60px auto;
}

.u-block-1772-5 {
    position: absolute;
    width: auto;
    height: auto;
    top: auto;
    bottom: 149px;
}

.u-block-1772-3 {
    position: absolute;
    left: 0;
}

.u-block-1772-4 {
    position: absolute;
    right: 0;
}

.u-section-2 {
    background-image: linear-gradient(#478ac9, #72683f);
}

.u-section-2 .u-sheet-1 {
    min-height: 448px;
}

.u-section-2 .u-text-1 {
    margin: 25px 436px 0 355px;
}

.u-section-2 .u-list-1 {
    width: 1174px;
    margin: -45px auto 0 -34px;
}

.u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(14.2857% - 8.57143px);
    grid-template-columns: calc(14.2857% - 8.57143px) calc(14.2857% - 8.57143px) calc(14.2857% - 8.57143px) calc(14.2857% - 8.57143px) calc(14.2857% - 8.57143px) calc(14.2857% - 8.57143px) calc(14.2857% - 8.57143px);
    grid-gap: 10px 10px;
    min-height: 248px;
}

.u-section-2 .u-container-layout-1 {
    padding: 0 0 2px;
}

.u-section-2 .u-image-1 {
    width: 151px;
    height: 151px;
    background-image: url("images/abs.png");
    background-position: 50% 50%;
    margin: 76px -4px 0 auto;
}

.u-section-2 .u-container-layout-2 {
    padding: 0 0 2px;
}

.u-section-2 .u-image-2 {
    width: 151px;
    height: 151px;
    background-image: url("images/arms.png");
    background-position: 50% 50%;
    margin: 76px -4px 0 auto;
}

.u-section-2 .u-container-layout-3 {
    padding: 0 0 2px;
}

.u-section-2 .u-image-3 {
    width: 151px;
    height: 151px;
    background-image: url("images/legs.png");
    background-position: 50% 50%;
    margin: 76px -4px 0 auto;
}

.u-section-2 .u-container-layout-4 {
    padding: 0 0 2px;
}

.u-section-2 .u-image-4 {
    width: 151px;
    height: 151px;
    background-image: url("images/back.png");
    background-position: 50% 50%;
    margin: 76px -4px 0 auto;
}

.u-section-2 .u-container-layout-5 {
    padding: 0 0 2px;
}

.u-section-2 .u-image-5 {
    width: 151px;
    height: 151px;
    background-image: url("images/shoulders.png");
    background-position: 50% 50%;
    margin: 76px -4px 0 auto;
}

.u-section-2 .u-container-layout-6 {
    padding: 0 0 2px;
}

.u-section-2 .u-image-6 {
    width: 151px;
    height: 151px;
    background-image: url("images/chest.png");
    background-position: 50% 50%;
    margin: 76px -4px 0 auto;
}

.u-section-2 .u-container-layout-7 {
    padding: 0 0 2px;
}

.u-section-2 .u-image-7 {
    width: 151px;
    height: 151px;
    background-image: url("images/fullbody.png");
    background-position: 50% 50%;
    margin: 76px -4px 0 auto;
}

.u-section-2 .u-text-2 {
    margin: 12px 1001px 0 -48px;
}

.u-section-2 .u-text-3 {
    margin: -41px 832px 0 121px;
}

.u-section-2 .u-text-4 {
    margin: -38px 663px 0 290px;
}

.u-section-2 .u-text-5 {
    width: 187px;
    margin: -40px auto 0;
}

.u-section-2 .u-text-6 {
    margin: -41px 290px 0 663px;
}

.u-section-2 .u-text-7 {
    margin: -40px 103px 0 850px;
}

.u-section-2 .u-text-8 {
    margin: -39px -66px 0 1019px;
}

.u-section-2 .u-text-9 {
    margin: 37px 457px 37px 496px;
}

.u-section-3 {
    background-image: linear-gradient(#478ac9, #db545a);
}

.u-section-3 .u-sheet-1 {
    min-height: 811px;
}

.u-section-3 .u-layout-wrap-1 {
    pointer-events: auto;
    width: 556px;
    margin: 124px 0 0 auto;
}

.u-section-3 .u-layout-cell-1 {
    min-height: 507px;
    pointer-events: auto;
}

.u-section-3 .u-container-layout-1 {
    padding: 13px 10px 0 0;
}

.u-section-3 .u-text-1 {
    animation-duration: 1000ms;
    margin: 23px 0 0 110px;
}

.u-section-3 .u-text-2 {
    margin: 59px 30px 0 80px;
}

.u-section-3 .u-btn-1 {
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 2px;
    background-image: none;
    border-style: solid;
    margin: 70px auto 0 180px;
    padding: 10px 34px;
}

.u-section-3 .u-image-1 {
    width: 570px;
    height: 519px;
    margin: -513px auto 0 14px;
}

.u-section-3 .u-text-3 {
    font-weight: 700;
    margin: 48px 390px 21px;
}

.u-section-4 {
    background-image: none;
}

.u-section-4 .u-sheet-1 {
    min-height: 547px;
}

.u-section-4 .u-video-1 {
    width: 637px;
    height: 342px;
    margin: 76px auto 0 230px;
}

.u-section-4 .embed-responsive-1 {
    position: absolute;
}

.u-section-4 .u-text-1 {
    width: 680px;
    margin: 31px auto 59px;
}

.u-section-6 {
    background-image: linear-gradient(#478ac9, #db545a);
}

.u-section-6 .u-sheet-1 {
    min-height: 767px;
}

.u-section-6 .u-blog-1 {
    margin-top: 1px;
    margin-bottom: 0;
}

.u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    grid-gap: 10px 10px;
    min-height: 577px;
}

.u-section-6 .u-repeater-item-1 {
    background-image: linear-gradient(#478ac9, #db545a);
}

.u-section-6 .u-container-layout-1 {
    padding: 30px 0;
}

.u-section-6 .u-image-1 {
    height: 298px;
    filter: brightness(0.95);
    box-shadow: 2px 2px 8px 0 rgba(128, 128, 128, 1);
    animation-duration: 1000ms;
    margin: 118px 30px 0;
}

.u-section-6 .u-btn-1 {
    background-image: none;
    border-style: none none solid;
    margin: 26px auto 0 37px;
    padding: 0;
}

.u-section-6 .u-repeater-item-2 {
    background-image: linear-gradient(#478ac9, #db545a);
}

.u-section-6 .u-container-layout-2 {
    padding: 30px 0;
}

.u-section-6 .u-image-2 {
    height: 298px;
    filter: brightness(0.95);
    box-shadow: 2px 2px 8px 0 rgba(128, 128, 128, 1);
    animation-duration: 1000ms;
    margin: 118px 30px 0;
}

.u-section-6 .u-btn-2 {
    background-image: none;
    border-style: none none solid;
    margin: 26px auto 0 37px;
    padding: 0;
}

.u-section-6 .u-text-1 {
    margin: 30px 834px 0 85px;
}

.u-section-6 .u-text-2 {
    margin: -39px 152px 60px 767px;
}

.u-section-7 {
    background-image: linear-gradient(#478ac9, #db545a);
}

.u-section-7 .u-sheet-1 {
    min-height: 668px;
}

.u-section-7 .u-blog-1 {
    margin-top: 60px;
    margin-bottom: 60px;
}

.u-section-7 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-gap: 22px 22px;
    min-height: 514px;
}

.u-section-7 .u-repeater-item-1 {
    background-image: linear-gradient(#478ac9, #db545a);
}

.u-section-7 .u-container-layout-1 {
    padding: 21px 30px 0 29px;
}

.u-section-7 .u-image-1 {
    height: 484px;
    width: 535px;
    animation-duration: 1000ms;
    margin: 0 auto 0 0;
}

.u-section-7 .u-btn-1 {
    border-style: none none solid;
    text-transform: none;
    margin: -142px 431px 0 auto;
    padding: 0;
}

.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #fff;
    background-color: darkblue;
}

.footer>* {
    flex: 1 100%;
}

.l-footer {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

h2 {
    font-weight: 400;
    font-size: 15px;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.r-footer {
    display: flex;
    flex-flow: row wrap;
}

.r-footer>* {
    flex: 1 50%;
    margin-right: 1.25em;
}

.box a {
    color: #999;
}

.h-box {
    column-count: 2;
    column-gap: 1.25em;
}

.b-footer {
    text-align: center;
    color: #999;
    padding-top: 50px;
}

.l-footer p {
    padding-right: 20%;
    color: #999;
}

@media screen and (min-width: 600px) {
    .r-footer>* {
        flex: 1;
    }
    .features {
        flex-grow: 2;
    }
    .l-footer {
        flex: 1 0px;
    }
    .r-footer {
        flex: 2 0px;
    }
}