.u-section-1-1 {
    background-image: url("images/destress.jpg");
    background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
    min-height: 848px;
}

.u-section-1-1 .u-text-1 {
    margin: 1px 0 0 118px;
}

.u-section-1-1 .u-text-2 {
    font-size: 6rem;
    background-image: none;
    width: 570px;
    margin: 361px auto 0;
}

.u-section-1-1 .u-text-3 {
    margin: 30px 59px 0;
}

.u-section-1-1 .u-btn-1 {
    background-image: none;
    text-transform: uppercase;
    font-weight: 700;
    margin: 40px auto 60px;
}

@media (max-width: 1199px) {
    .u-section-1-1 .u-sheet-1 {
        min-height: 699px;
    }
    .u-section-1-1 .u-text-1 {
        margin-left: 0;
    }
    .u-section-1-1 .u-text-3 {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 991px) {
    .u-section-1-1 .u-sheet-1 {
        min-height: 535px;
    }
}

@media (max-width: 767px) {
    .u-section-1-1 .u-sheet-1 {
        min-height: 401px;
    }
    .u-section-1-1 .u-text-2 {
        font-size: 3.75rem;
        width: 540px;
    }
}

@media (max-width: 575px) {
    .u-section-1-1 .u-sheet-1 {
        min-height: 252px;
    }
    .u-section-1-1 .u-text-2 {
        font-size: 3rem;
        width: 340px;
    }
}

.u-section-1-2 {
    background-image: url("images/FITNESS12.jpg");
    background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
    min-height: 848px;
}

.u-section-1-2 .u-btn-1 {
    background-image: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    margin: 0 auto 60px;
}

@media (max-width: 1199px) {
    .u-section-1-2 .u-sheet-1 {
        min-height: 699px;
    }
}

@media (max-width: 991px) {
    .u-section-1-2 .u-sheet-1 {
        min-height: 535px;
    }
}

@media (max-width: 767px) {
    .u-section-1-2 .u-sheet-1 {
        min-height: 381px;
    }
}

@media (max-width: 575px) {
    .u-section-1-2 .u-sheet-1 {
        min-height: 248px;
    }
}

.u-section-1-3 {
    background-image: url("images/318021168-0.jpeg");
    background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
    min-height: 848px;
}

.u-section-1-3 .u-text-1 {
    margin: 0 -485px 0 485px;
}

.u-section-1-3 .u-text-2 {
    margin: 423px -416px 0 416px;
}

.u-section-1-3 .u-btn-1 {
    background-image: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    margin: 40px auto 60px 462px;
}

@media (max-width: 1199px) {
    .u-section-1-3 .u-sheet-1 {
        min-height: 699px;
    }
    .u-section-1-3 .u-text-1 {
        margin-left: 0;
        margin-right: 0;
    }
    .u-section-1-3 .u-text-2 {
        margin-right: 0;
        margin-left: 0;
    }
    .u-section-1-3 .u-btn-1 {
        margin-left: 262px;
    }
}

@media (max-width: 991px) {
    .u-section-1-3 .u-sheet-1 {
        min-height: 535px;
    }
    .u-section-1-3 .u-btn-1 {
        margin-left: 42px;
    }
}

@media (max-width: 767px) {
    .u-section-1-3 .u-sheet-1 {
        min-height: 401px;
    }
    .u-section-1-3 .u-btn-1 {
        margin-left: 0;
    }
}

@media (max-width: 575px) {
    .u-section-1-3 .u-sheet-1 {
        min-height: 252px;
    }
}

.u-block-48e9-5 {
    position: absolute;
    width: auto;
    height: auto;
}

.u-block-48e9-3 {
    position: absolute;
    left: 0;
    width: 85px;
    height: 85px;
    background-image: none;
}

.u-block-48e9-4 {
    position: absolute;
    right: 0;
    width: 85px;
    height: 85px;
    background-image: none;
}

.u-section-2 {
    background-image: url("images/wallpapertip_yoga-wallpaper_1460065.jpg");
}

.u-section-2 .u-sheet-1 {
    min-height: 1298px;
}

.u-section-2 .u-layout-wrap-1 {
    pointer-events: auto;
    margin-top: 247px;
    margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
    min-height: 590px;
    animation-duration: 500ms;
}

.u-section-2 .u-image-1 {
    background-image: url("images/fitness1.jpg");
}

.u-section-2 .u-container-layout-1 {
    box-shadow: 0 2px 8px 0 rgba(128, 128, 128, 1);
    padding: 30px 60px;
}

.u-section-2 .u-layout-cell-2 {
    min-height: 590px;
}

.u-section-2 .u-container-layout-2 {
    padding: 30px 60px 0 40px;
}

.u-section-2 .u-text-1 {
    animation-duration: 1000ms;
    margin: 102px 20px 0 0;
}

.u-section-2 .u-text-2 {
    margin: 49px 20px 0 0;
}

.u-section-2 .u-btn-1 {
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 2px;
    background-image: none;
    border-style: solid;
    margin: 82px auto 0 8px;
    padding: 10px 34px;
}

@media (max-width: 1199px) {
    .u-section-2 {
        background-position: 50% 50%;
    }
    .u-section-2 .u-sheet-1 {
        min-height: 966px;
    }
    .u-section-2 .u-layout-cell-1 {
        min-height: 486px;
        pointer-events: auto;
        background-position: 50% 50%;
        animation-duration: 1000ms;
    }
    .u-section-2 .u-layout-cell-2 {
        min-height: 486px;
        pointer-events: auto;
        animation-duration: 1000ms;
    }
    .u-section-2 .u-text-1 {
        margin-right: 0;
    }
    .u-section-2 .u-text-2 {
        margin-right: 0;
    }
    .u-section-2 .u-btn-1 {
        margin-left: 0;
    }
}

@media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
        min-height: 852px;
    }
    .u-section-2 .u-layout-cell-1 {
        min-height: 372px;
    }
    .u-section-2 .u-container-layout-1 {
        padding-left: 30px;
        padding-right: 30px;
    }
    .u-section-2 .u-layout-cell-2 {
        min-height: 100px;
    }
    .u-section-2 .u-container-layout-2 {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
        min-height: 991px;
    }
    .u-section-2 .u-layout-cell-1 {
        min-height: 558px;
    }
    .u-section-2 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-2 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
        min-height: 784px;
    }
    .u-section-2 .u-layout-cell-1 {
        min-height: 351px;
    }
}

.u-section-3 {
    background-image: linear-gradient(#478ac9, #db545a);
}

.u-section-3 .u-sheet-1 {
    min-height: 849px;
}

.u-section-3 .u-layout-wrap-1 {
    pointer-events: auto;
    width: 552px;
    margin: 178px auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
    min-height: 552px;
    pointer-events: auto;
    animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-1 {
    padding: 30px 0 30px 60px;
}

.u-section-3 .u-text-1 {
    animation-duration: 1000ms;
    margin: 34px 60px 0 0;
}

.u-section-3 .u-text-2 {
    font-weight: normal;
    margin: 76px 60px 0 0;
}

.u-section-3 .u-btn-1 {
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 2px;
    background-image: none;
    border-style: solid;
    margin: 46px auto 0 0;
    padding: 10px 34px;
}

.u-section-3 .u-image-1 {
    width: 588px;
    height: 519px;
    margin: -532px 0 60px auto;
}

@media (max-width: 991px) {
    .u-section-3 .u-sheet-1 {
        min-height: 397px;
    }
    .u-section-3 .u-layout-cell-1 {
        min-height: 100px;
    }
    .u-section-3 .u-container-layout-1 {
        padding-left: 30px;
    }
}

@media (max-width: 767px) {
    .u-section-3 .u-sheet-1 {
        min-height: 355px;
    }
    .u-section-3 .u-layout-wrap-1 {
        width: 540px;
    }
    .u-section-3 .u-container-layout-1 {
        padding-left: 10px;
    }
    .u-section-3 .u-image-1 {
        width: 540px;
        height: 477px;
    }
}

@media (max-width: 575px) {
    .u-section-3 .u-sheet-1 {
        min-height: 178px;
    }
    .u-section-3 .u-layout-wrap-1 {
        width: 340px;
    }
    .u-section-3 .u-text-1 {
        margin-right: 0;
    }
    .u-section-3 .u-text-2 {
        margin-right: 0;
    }
    .u-section-3 .u-image-1 {
        width: 340px;
        height: 300px;
    }
}

.u-section-4 {
    background-image: linear-gradient(#478ac9, #db545a);
}

.u-section-4 .u-sheet-1 {
    min-height: 764px;
}

.u-section-4 .u-layout-wrap-1 {
    pointer-events: auto;
    width: 488px;
    margin: 95px 21px 0 auto;
}

.u-section-4 .u-layout-cell-1 {
    min-height: 559px;
    pointer-events: auto;
    animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-1 {
    padding: 30px 60px 30px 48px;
}

.u-section-4 .u-text-1 {
    font-weight: 700;
    animation-duration: 1000ms;
    margin: 32px 0 0 12px;
}

.u-section-4 .u-text-2 {
    margin: 73px 12px 0 0;
}

.u-section-4 .u-btn-1 {
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 2px;
    background-image: none;
    border-style: solid;
    margin: 62px auto 0 12px;
    padding: 10px 34px;
}

.u-section-4 .u-image-1 {
    width: 565px;
    height: 559px;
    margin: -559px auto 60px 65px;
}

@media (max-width: 1199px) {
    .u-section-4 .u-sheet-1 {
        min-height: 1141px;
    }
}

@media (max-width: 991px) {
    .u-section-4 .u-sheet-1 {
        min-height: 640px;
    }
    .u-section-4 .u-layout-cell-1 {
        min-height: 100px;
    }
    .u-section-4 .u-container-layout-1 {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 767px) {
    .u-section-4 .u-sheet-1 {
        min-height: 616px;
    }
    .u-section-4 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-4 .u-image-1 {
        width: 540px;
        height: 534px;
        margin-left: 0;
    }
}

@media (max-width: 575px) {
    .u-section-4 .u-sheet-1 {
        min-height: 456px;
    }
    .u-section-4 .u-layout-wrap-1 {
        width: 340px;
        margin-right: 0;
    }
    .u-section-4 .u-text-1 {
        margin-left: 0;
    }
    .u-section-4 .u-text-2 {
        margin-right: 0;
    }
    .u-section-4 .u-btn-1 {
        margin-left: 0;
    }
    .u-section-4 .u-image-1 {
        width: 340px;
        height: 336px;
    }
}

.u-section-5 {
    background-image: linear-gradient(#478ac9, #db545a);
}

.u-section-5 .u-sheet-1 {
    min-height: 571px;
}

.u-section-5 .u-text-1 {
    width: 270px;
    margin: 13px auto 0;
}

.u-section-5 .u-text-2 {
    width: 670px;
    margin: 28px auto 0;
}

.u-section-5 .u-list-1 {
    margin-top: 0;
    margin-bottom: 0;
}

.u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 6.66667px);
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    grid-gap: 10px 10px;
    min-height: 364px;
}

.u-section-5 .u-container-layout-1 {
    padding: 30px 0 30px 30px;
}

.u-section-5 .u-image-1 {
    width: 137px;
    height: 137px;
    background-image: url("images/postivity.png");
    background-position: 50% 50%;
    margin: 0 auto 0 68px;
}

.u-section-5 .u-text-3 {
    margin: 20px 30px 0 0;
}

.u-section-5 .u-text-4 {
    margin: 24px 27px 0 4px;
}

.u-section-5 .u-btn-1 {
    background-image: none;
    border-style: solid;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    margin: 24px auto 0 68px;
}

.u-section-5 .u-container-layout-2 {
    padding: 30px 0 30px 30px;
}

.u-section-5 .u-image-2 {
    width: 137px;
    height: 137px;
    background-image: url("images/inspiration.png");
    background-position: 50% 50%;
    margin: 0 auto 0 68px;
}

.u-section-5 .u-text-5 {
    margin: 20px 30px 0 0;
}

.u-section-5 .u-text-6 {
    margin: 24px 27px 0 4px;
}

.u-section-5 .u-btn-2 {
    background-image: none;
    border-style: solid;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    margin: 24px auto 0 68px;
}

.u-section-5 .u-container-layout-3 {
    padding: 30px 0 30px 30px;
}

.u-section-5 .u-image-3 {
    width: 137px;
    height: 137px;
    background-image: url("images/fun.png");
    background-position: 50% 50%;
    margin: 0 auto 0 68px;
}

.u-section-5 .u-text-7 {
    margin: 20px 30px 0 0;
}

.u-section-5 .u-text-8 {
    margin: 24px 27px 0 4px;
}

.u-section-5 .u-btn-3 {
    background-image: none;
    border-style: solid;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    margin: 24px auto 0 68px;
}

@media (max-width: 1199px) {
    .u-section-5 .u-repeater-1 {
        min-height: 388px;
    }
    .u-section-5 .u-text-3 {
        margin-right: 0;
    }
    .u-section-5 .u-text-4 {
        margin-left: 0;
        margin-right: 0;
    }
    .u-section-5 .u-btn-1 {
        margin-left: 0;
        padding: 0;
    }
    .u-section-5 .u-text-5 {
        margin-right: 0;
    }
    .u-section-5 .u-text-6 {
        margin-left: 0;
        margin-right: 0;
    }
    .u-section-5 .u-btn-2 {
        margin-left: 0;
        padding: 0;
    }
    .u-section-5 .u-text-7 {
        margin-right: 0;
    }
    .u-section-5 .u-text-8 {
        margin-right: 0;
        margin-left: 0;
    }
    .u-section-5 .u-btn-3 {
        margin-left: 0;
        padding: 0;
    }
}

@media (max-width: 991px) {
    .u-section-5 .u-repeater-1 {
        grid-auto-columns: calc(50% - 5px);
        grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    }
}

@media (max-width: 767px) {
    .u-section-5 .u-text-2 {
        width: 540px;
    }
    .u-section-5 .u-container-layout-1 {
        padding-left: 10px;
    }
    .u-section-5 .u-container-layout-2 {
        padding-left: 10px;
    }
    .u-section-5 .u-container-layout-3 {
        padding-left: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-5 .u-text-2 {
        width: 340px;
    }
    .u-section-5 .u-repeater-1 {
        grid-auto-columns: 100%;
        grid-template-columns: 100%;
    }
}

.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #fff;
    background-color: darkblue;
}

.footer>* {
    flex: 1 100%;
}

.l-footer {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

h2 {
    font-weight: 400;
    font-size: 15px;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.r-footer {
    display: flex;
    flex-flow: row wrap;
}

.r-footer>* {
    flex: 1 50%;
    margin-right: 1.25em;
}

.box a {
    color: #999;
}

.h-box {
    column-count: 2;
    column-gap: 1.25em;
}

.b-footer {
    text-align: center;
    color: #999;
    padding-top: 50px;
}

.l-footer p {
    padding-right: 20%;
    color: #999;
}

@media screen and (min-width: 600px) {
    .r-footer>* {
        flex: 1;
    }
    .features {
        flex-grow: 2;
    }
    .l-footer {
        flex: 1 0px;
    }
    .r-footer {
        flex: 2 0px;
    }
}