    .navbar-nav a {
        font-family: poppins;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;
    }
    
    .navbar-light .navbar-brand {
        color: #fff;
        font-size: 25px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 3px;
    }
    
    .navbar-light .navbar-nav .active>.nav-link,
    .navbar-light .navbar-nav .nav-link.active,
    .navbar-light .navbar-nav .nav-link.show,
    .navbar-light .navbar-nav .show>.nav-link {
        color: #fff;
    }
    
    .navbar-light .navbar-nav .nav-link {
        color: #fff;
    }
    
    .navbar-nav {
        text-align: center;
    }
    
    .nav-link {
        padding: .2rem 1rem;
    }
    
    .nav-link.active,
    .nav-link:focus {
        color: #fff;
    }
    
    .navbar-toggler {
        padding: 1px 5px;
        font-size: 18px;
        line-height: 0.3;
        background: #fff;
    }
    
    .navbar-light .navbar-nav .nav-link:focus,
    .navbar-light .navbar-nav .nav-link:hover {
        color: #fff;
    }
    
    .w-100 {
        height: 100vh;
    }
    /* custom scroll bar */
    
     ::-webkit-scrollbar {
        width: 10px;
    }
    
     ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
     ::-webkit-scrollbar-thumb {
        background: #888;
    }
    
     ::selection {
        background: rgb(0, 123, 255, 0.3);
    }
    
    .content {
        max-width: 1250px;
        margin: auto;
        padding: 0px 30px;
    }
    
    @media only screen and (max-width: 767px) {
        /* .navbar-nav.ml-auto {
		background: rgba(0, 0, 0, 0.5);
	}
	.navbar-nav a {
		font-size: 14px;
		font-weight: normal;
	} */
        body.disabledScroll {
            overflow: hidden;
        }
        .icon {
            display: block;
            height: 50px;
            width: 50px;
            text-align: center;
            line-height: 50px;
            border-radius: 50%;
            z-index: 9;
        }
        .icon.cancel-btn {
            display: none;
        }
        .icon.cancel-btn.show {
            display: block;
        }
        .icon.hide {
            display: none;
        }
        .navbar .menu-list {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100%;
            background: #222;
            display: block;
            padding: 40px 0;
            text-align: center;
            clip-path: circle(25px at calc(100% - 55px) calc(0% + 50px));
            transition: all 0.3s ease;
        }
        .navbar.sticky .menu-list {
            clip-path: circle(25px at calc(100% - 55px) calc(0% + 35px));
        }
        .navbar .menu-list.active {
            clip-path: circle(75%);
        }
        .navbar .menu-list li {
            margin-top: 45px;
        }
        .navbar .menu-list li a {
            font-size: 23px;
        }
    }
    
    .navbar.sticky {
        background: darkblue;
    }
    
    .p-t-20 {
        padding-top: 15px !important;
    }
    
    .c-l-r-w {
        color: white !important;
    }
    
    .nav-background {
        background: darkblue;
    }
    
    .mobile-navbar-toggler {
        background-color: white !important;
    }
    
    .u-section-1-1 {
        background-image: url("images/destress.jpg");
        background-position: 50% 50%;
    }
    
    .u-section-1-1 .u-sheet-1 {
        min-height: 854px;
    }
    
    .u-section-1-1 .u-text-1 {
        font-weight: 700;
        width: 448px;
        margin: 534px auto 0;
    }
    
    .u-section-1-1 .u-text-2 {
        margin: 48px 25px 0 87px;
    }
    
    .u-section-1-1 .u-btn-1 {
        background-image: none;
        text-transform: uppercase;
        font-weight: 700;
        margin: 48px auto 60px;
    }
    
    .u-block-594b-2 {
        position: absolute;
        bottom: 10px;
        width: auto;
        height: auto;
    }
    
    .u-block-594b-3 {
        position: absolute;
        left: 0;
    }
    
    .u-block-594b-4 {
        position: absolute;
        right: 0;
    }
    
    .u-section-2 {
        background-image: url("images/wallpapertip_yoga-wallpaper_1460065.jpg");
        min-height: 1369px;
    }
    
    .u-section-2 .u-image-1 {
        width: 468px;
        height: 468px;
        margin: 92px auto 0 calc(((100% - 1140px) / 2) + -16px);
    }
    
    .u-section-2 .u-image-2 {
        width: calc(((100% - 1140px) / 2) + 490px);
        height: 725px;
        margin: 0 0 60px auto;
    }
    
    .u-section-3 {
        background-image: linear-gradient(#478ac9, #db545a);
    }
    
    .u-section-3 .u-sheet-1 {
        min-height: 1714px;
    }
    
    .u-section-3 .u-image-1 {
        width: 397px;
        height: 1024px;
        margin: -20px auto 0 87px;
    }
    
    .u-section-3 .u-image-2 {
        width: 570px;
        height: 855px;
        margin: -862px 19px 0 auto;
    }
    
    .u-section-3 .u-layout-wrap-1 {
        pointer-events: auto;
        width: 493px;
        margin: 88px 77px 0 auto;
    }
    
    .u-section-3 .u-layout-cell-1 {
        min-height: 530px;
        pointer-events: auto;
        animation-duration: 1000ms;
    }
    
    .u-section-3 .u-container-layout-1 {
        padding: 30px 60px;
    }
    
    .u-section-3 .u-text-1 {
        margin: 177px 0 0;
    }
    
    .u-section-3 .u-text-2 {
        margin: 20px 0 0;
    }
    
    .u-section-3 .u-btn-1 {
        text-transform: uppercase;
        font-size: 0.875rem;
        letter-spacing: 2px;
        background-image: none;
        border-style: solid;
        margin: 29px auto 0 0;
        padding: 9px 32px 11px 30px;
    }
    
    .u-section-3 .u-image-3 {
        width: 528px;
        height: 512px;
        animation-duration: 500ms;
        margin: -521px auto 60px 42px;
    }
    
    .u-section-4 {
        background-image: linear-gradient(#77aad9, #db545a);
    }
    
    .u-section-4 .u-sheet-1 {
        min-height: 710px;
    }
    
    .u-section-4 .u-layout-wrap-1 {
        pointer-events: auto;
        width: 1100px;
        margin: 74px auto 60px;
    }
    
    .u-section-4 .u-layout-cell-1 {
        min-height: 536px;
        pointer-events: auto;
        animation-duration: 1000ms;
    }
    
    .u-section-4 .u-container-layout-1 {
        padding: 30px 0 30px 46px;
    }
    
    .u-section-4 .u-text-1 {
        margin: 151px 14px 0 60px;
    }
    
    .u-section-4 .u-text-2 {
        margin: 14px 74px 0 0;
    }
    
    .u-section-4 .u-btn-1 {
        text-transform: uppercase;
        font-size: 0.875rem;
        letter-spacing: 2px;
        background-image: none;
        border-style: solid;
        animation-duration: 1000ms;
        margin: 43px auto 0 100px;
        padding: 10px 34px;
    }
    
    .u-section-4 .u-layout-cell-2 {
        min-height: 536px;
        pointer-events: auto;
        animation-duration: 500ms;
    }
    
    .u-section-4 .u-container-layout-2 {
        padding: 10px 27px 0 0;
    }
    
    .u-section-4 .u-image-1 {
        width: 503px;
        height: 516px;
        animation-duration: 500ms;
        margin: 0 auto 0 0;
    }
    
    .u-section-5 {
        background-image: linear-gradient(#77aad9, #db545a);
    }
    
    .u-section-5 .u-sheet-1 {
        min-height: 671px;
    }
    
    .u-section-5 .u-text-1 {
        margin: 60px 230px 0;
    }
    
    .u-section-5 .u-text-2 {
        width: 680px;
        margin: 20px auto 0;
    }
    
    .u-section-5 .u-video-1 {
        height: 547px;
        width: 1162px;
        animation-duration: 1000ms;
        margin: -104px -11px 0;
    }
    
    .u-section-5 .embed-responsive-1 {
        position: absolute;
        width: 178%;
        left: -39%;
        height: 178%;
        top: -39%;
    }
    
    .u-section-5 .u-text-3 {
        width: 680px;
        font-weight: 700;
        margin: 20px auto 11px;
    }
    
    .u-section-6 {
        background-image: linear-gradient(#478ac9, #db545a);
    }
    
    .u-section-6 .u-sheet-1 {
        min-height: 572px;
    }
    
    .u-section-6 .u-text-1 {
        text-transform: uppercase;
        font-weight: 700;
        margin: 29px auto 0 407px;
    }
    
    .u-section-6 .u-blog-1 {
        margin-top: 0;
        margin-bottom: 57px;
    }
    
    .u-section-6 .u-repeater-1 {
        grid-auto-columns: calc(33.3333% - 6.66667px);
        grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
        grid-gap: 10px 10px;
        min-height: 375px;
    }
    
    .u-section-6 .u-container-layout-1 {
        padding: 15px 10px 30px 0;
    }
    
    .u-section-6 .u-text-2 {
        margin: 37px auto 0 59px;
    }
    
    .u-section-6 .u-image-1 {
        height: 180px;
        width: 370px;
        margin: 49px auto 0 -7px;
    }
    
    .u-section-6 .u-btn-1 {
        border-style: none;
        background-image: none;
        margin: 38px auto 0 107px;
    }
    
    .u-section-6 .u-container-layout-2 {
        padding: 15px 10px 30px 0;
    }
    
    .u-section-6 .u-text-3 {
        margin: 37px auto 0 59px;
    }
    
    .u-section-6 .u-image-2 {
        height: 180px;
        width: 370px;
        margin: 49px auto 0 -7px;
    }
    
    .u-section-6 .u-btn-2 {
        border-style: none;
        background-image: none;
        margin: 38px auto 0 107px;
    }
    
    .u-section-6 .u-container-layout-3 {
        padding: 15px 10px 30px 0;
    }
    
    .u-section-6 .u-text-4 {
        margin: 37px auto 0 59px;
    }
    
    .u-section-6 .u-image-3 {
        height: 180px;
        width: 370px;
        margin: 49px auto 0 -7px;
    }
    
    .u-section-6 .u-btn-3 {
        border-style: none;
        background-image: none;
        margin: 38px auto 0 107px;
    }
    
    .u-section-7 .u-sheet-1 {
        min-height: 500px;
    }
    
    .u-section-8 .u-sheet-1 {
        min-height: 500px;
    }
    
    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }
    
    body {
        font-family: poppins;
        margin: 0;
        display: grid;
        font-size: 14px;
    }
    
    header p {
        padding: 50px;
        text-align: center;
        color: #bebebe;
        text-transform: uppercase;
        font-size: 65px;
        font-weight: 700;
    }
    
    .footer {
        display: flex;
        flex-flow: row wrap;
        padding: 50px;
        color: #fff;
        background-color: darkblue;
    }
    
    .footer>* {
        flex: 1 100%;
    }
    
    .l-footer {
        margin-right: 1.25em;
        margin-bottom: 2em;
    }
    
    h2 {
        font-weight: 400;
        font-size: 15px;
    }
    
    .footer ul {
        list-style: none;
        padding-left: 0;
    }
    
    .footer li {
        line-height: 2em;
    }
    
    .footer a {
        text-decoration: none;
    }
    
    .r-footer {
        display: flex;
        flex-flow: row wrap;
    }
    
    .r-footer>* {
        flex: 1 50%;
        margin-right: 1.25em;
    }
    
    .box a {
        color: #999;
    }
    
    .h-box {
        column-count: 2;
        column-gap: 1.25em;
    }
    
    .b-footer {
        text-align: center;
        color: #999;
        padding-top: 50px;
    }
    
    .l-footer p {
        padding-right: 20%;
        color: #999;
    }
    
    @media screen and (min-width: 600px) {
        .r-footer>* {
            flex: 1;
        }
        .features {
            flex-grow: 2;
        }
        .l-footer {
            flex: 1 0px;
        }
        .r-footer {
            flex: 2 0px;
        }
    }