@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
}

  body {
  background: #eee;
  min-height: 100vh;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif !important;
}  
#carousel .carousel-item.boat{
  background-image:url("images/bg-1.jpg");
}
#carousel .carousel-item.sea{
  background-image:url("images/steve-halama-dkg-zps94uw-unsplash.jpg");
}
#carousel .carousel-item.river{
  background-image:url("images/bg-3.jpg");
}
#carousel .carousel-item{
  height:100vh;
  width:100%;
  min-height:350px;
  background:no-repeat center center scroll;
  background-size:cover;
}
#carousel .carousel-inner .carousel-item{
  transition:-webkit-transform 2s ease;
  transition:transform 2s ease;
  transition:transform 2s ease, -webkit-transform 2s ease;
}
#carousel .carousel-item .caption{
  background:rgba(0,0,0,0.5);
  padding:40px;
  color:white;
  animation-duration: 1s;
  animation-delay: 2s;
}
#carousel .caption h2{
  animation-duration: 1s;
  animation-delay: 2s;
}
#carousel .caption p{
  animation-duration: 1s;
  animation-delay: 2.2s;
}

#carousel .caption a{
  animation-duration: 1s;
  animation-delay: 2.4s;
}
.delicious-btn{
  display: inline-block;
  min-width:160px;
  height:60px;
  color:#fff;
  border:none;
  border-left:3px solid #1c8314;
  border-radius: 0;
  padding:0 30px;
  font-size:16px;
  line-height:58px;
  font-weight:600;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-transform: capitalize;
  background:#19dd0b;
}
.delicious-btn:hover,
.delicious-btn:active,
.delicious-btn:focus{
  font-size:16px;
  font-weight: 600;
  color:#fff;
  background:#1c8314;
  border-color:#19dd0b;
}
.container-1{
    width: 100%;
}









.navbar-nav a {
	font-family: poppins;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}
.navbar-light .navbar-brand {
	color: #fff;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 3px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: #fff;
}
.navbar-light .navbar-nav .nav-link {
	color: #fff;
}
.navbar-nav {
	text-align: center;
}
.nav-link {
	padding: .2rem 1rem;
}
.nav-link.active, .nav-link:focus {
	color: #fff;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fff;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #fff;
}
.w-100 {
	height: 100vh;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::selection{
background: rgb(0,123,255,0.3);
}
.content{
max-width: 1250px;
margin: auto;
padding: 0px 30px;
}


@media only screen and (max-width: 767px) {
	/* .navbar-nav.ml-auto {
		background: rgba(0, 0, 0, 0.5);
	}
	.navbar-nav a {
		font-size: 14px;
		font-weight: normal;
	} */

  body.disabledScroll{
    overflow: hidden;
  }
  .icon{
    display: block;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    z-index: 9;
  }
  .icon.cancel-btn{
    display: none;
  }
  .icon.cancel-btn.show{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: #222;
    display: block;
    padding: 40px 0;
    text-align: center;
    clip-path: circle(25px at calc(100% - 55px) calc(0% + 50px));
    transition: all 0.3s ease;
  }
  .navbar.sticky .menu-list{
    clip-path: circle(25px at calc(100% - 55px) calc(0% + 35px));
  }
  .navbar .menu-list.active{
    clip-path: circle(75%);
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
  }
}







/* new css */





.p-t-20 {
  padding-top: 15px !important;
}

.c-l-r-w {
  color: white !important;
}
.nav-background {
  background: #8383a3;
}
.mobile-navbar-toggler {
  background-color: white !important;
}











a.btn.btn-primary.btn-block{
      
    background-color:#399e25;
}







  @import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

  /* Design */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }


 


 
*, *:before, *:after {
  box-sizing: border-box;
  }
  
  body {
  font-family: poppins;
  margin: 0;
  display: grid;
  font-size: 14px;
  }
  header p {
  padding: 50px;
  text-align: center;
  color: #f7f7f7;
  text-transform: uppercase;
  font-size: 65px;
  font-weight: 700;
  }
  .footer {
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  color: #fff;
  background-color: #8383a3;
  }
  
  .footer > * {
  flex:  1 100%;
  }
  
  .l-footer {
  margin-right: 1.25em;
  margin-bottom: 2em;
  }
  
  h2 {
  font-weight: 400;
  font-size: 15px;
  }
  
  .footer ul {
  list-style: none;
  padding-left: 0;
  }
  
  .footer li {
  line-height: 2em;
  }
  
  .footer a {
  text-decoration: none;
  }
  
  .r-footer {
  display: flex;
  flex-flow: row wrap;
  }
  
  .r-footer > * {
  flex: 1 50%;
  margin-right: 1.25em;
  }
  
  .box a {
  color: #f1f1f1;
  }
  
  .h-box {
  column-count: 2;
  column-gap: 1.25em;
  }
  
  .b-footer {
  text-align: center;
  color: #f1f1f1;
  padding-top: 50px;
  }
  
  .l-footer p {
  padding-right: 20%;
  color: #f1f1f1;
  }   
  
  @media screen and (min-width: 600px) {
  .r-footer > * {
  flex: 1;
  }
  
  .features {
  flex-grow: 2;
  }
  
  .l-footer {
  flex: 1 0px;
  }
  
  .r-footer {
  flex: 2 0px;
  }
  }









html, body {
  height: 100%;
  margin: 0;
}
.grid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.grid > div {
  display: flex; 
  flex-basis: calc(33.33% - 14px);  
  justify-content: center;
  flex-direction: column;
}

.grid > div:last-child {
  display: flex; 
  margin-top: 0px;
  flex-basis: calc(100% - 22px);  
  justify-content: center;
  flex-direction: column;
}

.grid > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}



.box { margin: 10px 0 10px 10px}
.box1 { background-color: white; }
.box2 { background-color: white; }
.box3 { background-color: white; }
.box4 { background-color:white; }


.text{
  font-family: 'Poppins';
  padding: 5px, 5px ,5px , 5px;
}

.header{
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
}


.button{
  margin: 5px, 5px, 5px, 5px;
  padding: 5px;
  background-color: white;
  color:black;
  border-radius: 5px;
  font-weight: bold;
}


@media screen and (max-width:350px)
{
  .box1{
    padding: 5px ,5px ,5px ,5px;
  }
  .box2{
    padding: 5px ,5px ,5px ,5px;
  }
  .box3{
    padding: 5px ,5px ,5px ,5px;
  }
  .box4{
    padding: 5px ,5px ,5px ,5px;
  }

  .box{
      justify-content: center;
      
  }

  .p{
    padding: 20px;
  }
}





.container-20{
  padding: 25px;
}
.col-text {
  height:20em;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Poppins';
}
.grid-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  flex-direction: row; 
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content  : space-around;
  padding: 10px;
}
.col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.col-left {
  -webkit-box-ordinal-group:-1;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}
.col-text{
  display: flex;
  align-items: center;
  justify-content: center;
}
.Aligner-item {
  width: 60%;
}
.col-image {
  background-size: cover;
  background-position:center center;
  border-radius: 25px;
}

@media (max-width: 640px) {
  .grid-flex {
    height: 40em;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column; 
   }
  .col {
    order:vertical;
  }
  .col-left {
    -webkit-box-ordinal-group:0;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }
  .col-text div p {
    padding: 1em;
  }
  .Aligner-item {
    width: 90%;
  }
}







